ENVIRONMENT=production
PROJECT_NAME=${PROJECT_NAME}
PROJECT_SHORT_NAME=${PROJECT_SHORT_NAME}
PUBLIC_UI_URL=${PUBLIC_UI_URL:-http://localhost:${NGINX_UI_EXPOSE_PORT}}
API_URL=${API_URL:-http://localhost:${NGINX_API_EXPOSE_PORT}}
API_INTERNAL_URL=http://${PROJECT_NAME}_api:${API_PORT}
MCP_ALLOWED_HOSTS=${MCP_ALLOWED_HOSTS:-}
MCP_ALLOWED_ORIGINS=${MCP_ALLOWED_ORIGINS:-}
SOCKET_URL=${SOCKET_URL:-http://localhost:${NGINX_SOCKET_EXPOSE_PORT}}
API_HOST=${PROJECT_NAME}_api
API_PORT=${API_PORT}
SOCKET_HOST=${PROJECT_NAME}_socket
SOCKET_PORT=${SOCKET_PORT}
SOCKET_INTERNAL_URL=http://${PROJECT_NAME}_socket:${SOCKET_PORT}
GRAPH_HOST=${PROJECT_NAME}_graph
GRAPH_PORT=${GRAPH_PORT}
MAX_FILE_SIZE_MB=${MAX_FILE_SIZE_MB}
AI_REQUEST_TIMEOUT=${AI_REQUEST_TIMEOUT}
AI_REQUEST_TRIALS=${AI_REQUEST_TRIALS}
