ADMIN_EMAIL=${ADMIN_EMAIL}
ADMIN_PASSWORD=${ADMIN_PASSWORD}
FULL_ADMIN_ACCESS_EMAILS=${FULL_ADMIN_ACCESS_EMAILS}
TERMINAL_LOGGING_LEVEL=${TERMINAL_LOGGING_LEVEL}
FILE_LOGGING_LEVEL=${FILE_LOGGING_LEVEL}
LOGGING_DIR=${LOGGING_DIR}
MAIN_DATABASE_URL=${POSTGRES_EXTERNAL_MAIN_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PROJECT_NAME}_db_bouncer:6432/master}
READONLY_DATABASE_URL=${POSTGRES_EXTERNAL_REPLICA_URL:-${POSTGRES_EXTERNAL_MAIN_URL:-postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PROJECT_NAME}_db_bouncer:6432/readonly}}
DB_TIMEOUT=${DB_TIMEOUT:-120}
DB_TCP_USER_TIMEOUT=${DB_TCP_USER_TIMEOUT:-30000}
DB_POOL_SIZE=${DB_POOL_SIZE:-10}
DB_MAX_OVERFLOW=${DB_MAX_OVERFLOW:-20}
DB_POOL_TIMEOUT=${DB_POOL_TIMEOUT:-30}
DB_POOL_RECYCLE=${DB_POOL_RECYCLE:-1800}
DB_QUERY_CACHE_SIZE=${DB_QUERY_CACHE_SIZE:-1200}
DB_SELECT_RETRY_ATTEMPTS=${DB_SELECT_RETRY_ATTEMPTS:-3}
DB_READONLY_FALLBACK_TO_MAIN=${DB_READONLY_FALLBACK_TO_MAIN:-true}
CACHE_TYPE=redis
CACHE_URL=redis://:${REDIS_PASSWORD}@${PROJECT_NAME}_redis:6379/0
BROKER_URL=redis://:${REDIS_PASSWORD}@${PROJECT_NAME}_redis_broker:6379/0
BROADCAST_TYPE=kafka
BROADCAST_URLS=${PROJECT_NAME}_kafka0:9092,${PROJECT_NAME}_kafka1:9092,${PROJECT_NAME}_kafka2:9092
COMMON_SECRET_KEY=${COMMON_SECRET_KEY}
JWT_SECRET_KEY=${JWT_SECRET_KEY}
JWT_ALGORITHM=${JWT_ALGORITHM}
JWT_AT_EXPIRATION=${JWT_AT_EXPIRATION}
JWT_RT_EXPIRATION=${JWT_RT_EXPIRATION}
AUTH_PROVIDER=${AUTH_PROVIDER}
OIDC_ISSUER=${OIDC_ISSUER}
OIDC_DISCOVERY_URL=${OIDC_DISCOVERY_URL}
OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
OIDC_SCOPES=${OIDC_SCOPES}
OIDC_EMAIL_CLAIM=${OIDC_EMAIL_CLAIM}
OIDC_PROMPT=${OIDC_PROMPT}
OIDC_TIMEOUT_SEC=${OIDC_TIMEOUT_SEC}
OIDC_DISCOVERY_CACHE_SEC=${OIDC_DISCOVERY_CACHE_SEC}
OIDC_JWKS_CACHE_TTL_SEC=${OIDC_JWKS_CACHE_TTL_SEC}
OIDC_CLOCK_SKEW_SEC=${OIDC_CLOCK_SKEW_SEC}
SCIM_ENABLED=${SCIM_ENABLED}
SCIM_BEARER_TOKEN=${SCIM_BEARER_TOKEN}
SCIM_ISSUER=${SCIM_ISSUER}
MAIL_FROM=${MAIL_FROM}
MAIL_FROM_NAME=${MAIL_FROM_NAME}
MAIL_USERNAME=${MAIL_USERNAME}
MAIL_PASSWORD=${MAIL_PASSWORD}
MAIL_SERVER=${MAIL_SERVER}
MAIL_PORT=${MAIL_PORT}
MAIL_STARTTLS=${MAIL_STARTTLS}
MAIL_SSL_TLS=${MAIL_SSL_TLS}
DEFAULT_GRAPH_URL=http://${PROJECT_NAME}_graph:${GRAPH_PORT}
UI_PORT=${NGINX_UI_EXPOSE_PORT}
DOMAIN=${DOMAIN}
CRON_TAB_FILE=${CRON_TAB_FILE}
SENTRY_DSN=${SENTRY_DSN}
LOCAL_STORAGE_DIR=${LOCAL_STORAGE_DIR}
S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
S3_REGION_NAME=${S3_REGION_NAME}
S3_BUCKET_NAME=${S3_BUCKET_NAME}
SOCKET_LOGGING_DIR=${SOCKET_LOGGING_DIR}
KEY_PROVIDER_TYPE=${KEY_PROVIDER_TYPE}
KEY_PROVIDER_OPENBAO_URL=${KEY_PROVIDER_OPENBAO_URL}
KEY_PROVIDER_OPENBAO_ROOT_TOKEN=${KEY_PROVIDER_OPENBAO_ROOT_TOKEN}
KEY_PROVIDER_HASHICORP_URL=${KEY_PROVIDER_HASHICORP_URL}
KEY_PROVIDER_HASHICORP_ROLE_ID=${KEY_PROVIDER_HASHICORP_ROLE_ID}
KEY_PROVIDER_HASHICORP_SECRET_ID=${KEY_PROVIDER_HASHICORP_SECRET_ID}
KEY_PROVIDER_AWS_REGION=${KEY_PROVIDER_AWS_REGION}
KEY_PROVIDER_AWS_ACCESS_KEY_ID=${KEY_PROVIDER_AWS_ACCESS_KEY_ID}
KEY_PROVIDER_AWS_SECRET_ACCESS_KEY=${KEY_PROVIDER_AWS_SECRET_ACCESS_KEY}
KEY_PROVIDER_AWS_KMS_KEY_ARN=${KEY_PROVIDER_AWS_KMS_KEY_ARN}
KEY_PROVIDER_AZURE_KEYVAULT_URL=${KEY_PROVIDER_AZURE_KEYVAULT_URL}
KEY_PROVIDER_AZURE_CLIENT_ID=${KEY_PROVIDER_AZURE_CLIENT_ID}
KEY_PROVIDER_AZURE_CLIENT_SECRET=${KEY_PROVIDER_AZURE_CLIENT_SECRET}
KEY_PROVIDER_AZURE_TENANT_ID=${KEY_PROVIDER_AZURE_TENANT_ID}
KEY_PROVIDER_AZURE_ENCRYPTION_KEY_NAME=${KEY_PROVIDER_AZURE_ENCRYPTION_KEY_NAME}
