ENVIRONMENT=production
PROJECT_NAME=${PROJECT_NAME}
PROJECT_SHORT_NAME=${PROJECT_SHORT_NAME}
PUBLIC_UI_URL=${PUBLIC_UI_URL:-http://localhost:${NGINX_UI_EXPOSE_PORT}}
API_URL=${API_URL:-http://localhost:${NGINX_API_EXPOSE_PORT}}
API_INTERNAL_URL=http://${PROJECT_NAME}_api:${API_PORT}
MCP_ALLOWED_HOSTS=${MCP_ALLOWED_HOSTS:-}
MCP_ALLOWED_ORIGINS=${MCP_ALLOWED_ORIGINS:-}
SOCKET_URL=${SOCKET_URL:-http://localhost:${NGINX_SOCKET_EXPOSE_PORT}}
API_HOST=${PROJECT_NAME}_api
API_PORT=${API_PORT}
SOCKET_HOST=${PROJECT_NAME}_socket
SOCKET_PORT=${SOCKET_PORT}
SOCKET_INTERNAL_URL=http://${PROJECT_NAME}_socket:${SOCKET_PORT}
GRAPH_HOST=${PROJECT_NAME}_graph
GRAPH_PORT=${GRAPH_PORT}
MAX_FILE_SIZE_MB=${MAX_FILE_SIZE_MB}
BATCH_MAX_RESPONSE_SIZE_MB=${BATCH_MAX_RESPONSE_SIZE_MB:-10}
SETTINGS_USER_LIST_MAX_ITEMS=${SETTINGS_USER_LIST_MAX_ITEMS:-5000}
GRAPH_TOOL_MAX_RESPONSE_SIZE_KB=${GRAPH_TOOL_MAX_RESPONSE_SIZE_KB:-256}
GRAPH_BACKGROUND_MAX_CONCURRENCY=${GRAPH_BACKGROUND_MAX_CONCURRENCY:-2}
AI_REQUEST_TIMEOUT=${AI_REQUEST_TIMEOUT}
AI_REQUEST_TRIALS=${AI_REQUEST_TRIALS}
AI_TITLE_MAX_CONCURRENCY=${AI_TITLE_MAX_CONCURRENCY:-4}
CHAT_UPLOAD_MAX_CONCURRENCY=${CHAT_UPLOAD_MAX_CONCURRENCY:-2}
AI_STREAM_MAX_BUFFER_MB=${AI_STREAM_MAX_BUFFER_MB:-4}
EDITOR_SYNC_MAX_REQUEST_SIZE_MB=${EDITOR_SYNC_MAX_REQUEST_SIZE_MB:-8}
EDITOR_SYNC_MAX_CONCURRENCY=${EDITOR_SYNC_MAX_CONCURRENCY:-8}
SOCKET_MAX_BUFFER_MB=${SOCKET_MAX_BUFFER_MB:-8}
SOCKET_MAX_PAYLOAD_MB=${SOCKET_MAX_PAYLOAD_MB:-8}
SOCKET_MAX_IN_FLIGHT_MB=${SOCKET_MAX_IN_FLIGHT_MB:-128}
SOCKET_MAX_IN_FLIGHT_MESSAGES=${SOCKET_MAX_IN_FLIGHT_MESSAGES:-32}
BROKER_TASK_MAX_PAYLOAD_KB=${BROKER_TASK_MAX_PAYLOAD_KB:-1024}
DOCLING_CONVERSION_TIMEOUT_SECONDS=${DOCLING_CONVERSION_TIMEOUT_SECONDS:-900}
